<%= link_to("<< Back to List", :action => 'index') %>

<h1>Update Book</h1>

<%= form_for(@book) do |f| %>
    <table summary= "Book Form Fields">
        <tr>
            <th>Title</th>
            <td><%= f.text_field(:title) %></td>
        </tr>
        <tr>
            <th>Author</th>
            <td><%= f.text_field(:author) %></td>
        </tr>
        <tr>
            <th>Genre</th>
            <td> <%= f.select :genre, ['Fantasy','Science Fiction','Young Adult','Romance','Childrens','Horror', 'Mystery','NonFiction','Thriller','Adventure','Biography','Autobiography'] %></td>
        </tr>
        <tr>
            <th>Price</th>
            <td><%= f.number_field :price, step: :any %></td>
        </tr>
        <tr>
            <th>Published Date</th>
            <td> <%= f.date_select :published_date, start_year: Time.new(1600).year, end_year: Time.now.year %> </td> 
        </tr>
    </table>

    <%= f.submit("Update Book") %>
<% end %>
